version: 2.1
orbs:
  rust: circleci/rust@1.6.0
executors:
jobs:
  lint-build-test:
    description: |
      Check linting with Clippy and rustfmt, build the crate, and run tests.
    resource_class: xlarge
    executor:
      name: rust/default
      tag: 1.71.1
    environment:
      RUSTFLAGS: '-D warnings'
      RUST_LOG: 'debug'
    steps:
      - checkout
      - run:
          name: Prepare for apt upgrades
          command: sudo apt update
      - run:
          name: Install libssl-dev for openssl-sys
          command: sudo apt install -y libssl-dev
      - run:
          name: Install libclang for rocksdb
          command: sudo apt install clang
      - run:
          name: Install rustfmt
          command: rustup component add rustfmt
      - run:
          name: Validate release notes entry
          command: ./newsfragments/validate_files.py
      - run:
          name: Run rustfmt
          command: cargo fmt --all -- --check
      - run:
          name: Install Clippy
          command: rustup component add clippy
      - run:
          name: Run Clippy
          command: cargo clippy --all --all-targets --all-features --no-deps -- --deny warnings
      - run:
          name: Build Trin workspace
          command: cargo build --workspace
      - run:
          name: Test Trin workspace
          command: cargo test --workspace -- --nocapture
workflows:
  merge-test:
    jobs:
      - lint-build-test
